@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
    font-family: 'Roboto', Times, serif;
}

.container {
    background: #2e8bb0;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.2em;
    background-image: url('../img/clouds.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

.center {
	text-align: center;
}

.bot-gap {
    margin-bottom: 20px;
    padding-top: 20px;
}

.title {
	color: #fff;
	font-size: 28px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card {
    width: 95%;
    text-align: center;
    padding-left: 20px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.search input {
    border: 0;
    outline: 0;
    padding: 10px 25px;
    height: 60px;
    width: 70%;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
	border: 0;
    outline: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 24px;
}

/* Remove focus border added by browser */
input.search:focus {
	outline: none;
}

.error > p{
    color: #fff;
    display: flex;
    font-size: 16px;
    display: none;
    padding-bottom: 10px;
}

.weather{
    /* height: 95px; */
    color: #fff;
    padding: 25px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 300;
    display: none;
    transition: max-height 2.15s ease-out;
}

.city {
    display: flex;
    word-break: break-all;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 400;
}

.weather .today {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-around;
    text-align: center;
    border-top: 1px solid rgb(5, 29, 54);
    border-radius: 5px;
    padding: 25px;
    background: rgba(62, 77, 130, 0.4);
    font-weight: 400;
}

.weather .temp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: rgba(62, 77, 130, 0.4);
    border-bottom: 1px solid rgb(5, 29, 54);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-right: 25px;
    font-size: 20px;
}

p {
    font-size: 60px;
    padding: 0 25px;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 992px) {
    .container {
        width: 500px;
        height: 100vh;
    }
}